@{
    ViewBag.Title = "联系";
}

<div class="content-wrapper main-content clear-fix">
<div style="margin: 20px 0; width: 100%; height: 750px">
    <hgroup class="title" style="text-align: center">
        <h2>@ViewBag.Message</h2>
    </hgroup>
</div>
    </div>