
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
    <div style="margin: 20px 0;">
    <input class="easyui-searchbox" data-options="prompt:'请输入...',menu:'#mm',searcher:doSearchFromDB" style="width: 400px; height: 40px;"></input>
    <div id="mm">
        <div data-options="name:'All',iconCls:'icon-ok'">全部</div>
        <div data-options="name:'Designer'">设计师</div>
        <div data-options="name:'DesignCompany'">家装公司</div>
        <div data-options="name:'Seller'">商家</div>
    </div>
    </div>
    <div id="allmap"></div>
    <div id="r-result"></div>

<script type="text/javascript">
    //map:地图对象，point：中心点对象
    var map;
    var point;
    $(function () {
        map = new BMap.Map("allmap");
        point = new BMap.Point(RSH.Common.NEFU_Longitude, RSH.Common.NEFU_Latitude);
        InitMap(map, point);
    });

    //网络搜索
    function doSearch(value, name) {
        var local = new BMap.LocalSearch(map, { renderOptions: { map: map, panel: "r-result" } });
        local.search(value);
    }
    
    //从数据读出数据并设置点
    function doSearchFromDB(value, name) {
        var url = "";
        switch (name) {
        case RSH.Control.All:
            url = "/Home/GetAllUsersExceptNormal"; break;
        case RSH.Control.Designer:
            url = "/Home/GetAllDesigner"; break;
        case RSH.Control.DesignCompany:
            url = "/Home/GetAllDesignCompany"; break;
        case RSH.Control.Seller:
            url = "/Home/GetAllSeller"; break;
        }
        if (url == "") {
            doSearch(value, name);
            return;
        }
        $.post(url, { SearchText: value }, function(data) {
            map.clearOverlays();
            $("#r-result").empty();
            if (data && data.length) {
                var centerPoint = new BMap.Point(data[0].Longitude, data[0].Latitude);
                map.centerAndZoom(centerPoint, 15);
                for (var i in data) {
                    SetPoint(data[i]);
                    SearchPanel(data[i]);
                }
            } else {
                doSearch(value, name);
                $.messager.show({
                    title: RSH.Common.AlertTitle,
                    msg: RSH.Search.SearchEmpty,
                    timeout: 3000,
                    showType: 'show'
                });
            }
        });
    }

    
    //设置点标记
    function SetPoint(mapPoint) {
        var marker = new BMap.Marker(new BMap.Point(mapPoint.Longitude, mapPoint.Latitude)); 
        map.addOverlay(marker); 
        var infoWindow = new BMap.InfoWindow(mapPoint.Description, { width: RSH.Control.InfoWindowWidth, height: RSH.Control.InfoWindowHeight, title: mapPoint.Title });
        marker.addEventListener("click", function () {
            this.openInfoWindow(infoWindow);
        });
        marker.addEventListener("mousedown", function () {
            $("#" + mapPoint.Id).css("background-color", "#eee8aa");
        });
        marker.addEventListener("mouseup", function () {
            $("#" + mapPoint.Id).css("background-color", "#c0c0c0");
        });
    }
    
    //面板中填充搜索内容
    function SearchPanel(mapPoint) {
        var htmlText = "<b>" + mapPoint.Title + "</b><br/>" + mapPoint.Description;
        $("#r-result").append("<div id=" + mapPoint.Id + " class='searchPanelItem'>" + htmlText + "</div>");
        $("#" + mapPoint.Id).bind("click", function () {
            map.centerAndZoom(new BMap.Point(mapPoint.Longitude, mapPoint.Latitude),17);
        });
    }

    function doSearchWithPoint(value,name) {
        map.clearOverlays();
        var localSearch = new BMap.LocalSearch(map);
        localSearch.enableAutoViewport();
        localSearch.setSearchCompleteCallback(function (searchResult) {
            var poi = searchResult.getPoi(0);
            map.centerAndZoom(poi.point, 16);
            var marker = new BMap.Marker(new BMap.Point(poi.point.lng, poi.point.lat));  // 创建标注，为要查询的地址对应的经纬度
            map.addOverlay(marker);
        });
        localSearch.search(value);
    }
</script>
