
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
    <div style="margin: 20px 0;">
    <input class="easyui-searchbox" data-options="prompt:'请输入...',menu:'#mm',searcher:doSearchFromDB" style="width: 400px; height: 40px;"></input>
    <div id="mm">
        <div data-options="name:'All',iconCls:'icon-ok'">全部</div>
        <div data-options="name:'Designer'">设计师</div>
        <div data-options="name:'DesignCompany'">家装公司</div>
        <div data-options="name:'Seller'">商家</div>
    </div>
    </div>
    <div id="allmap"></div>
    <div id="r-result"></div>

<script type="text/javascript">
    var map = new BMap.Map("allmap");
    window.map = map;
    var point = new BMap.Point(126.646749, 45.729233);

    map.addControl(new BMap.NavigationControl());
// 添加平移缩放控件
    map.addControl(new BMap.ScaleControl());
// 添加比例尺控件
    map.addControl(new BMap.OverviewMapControl());
//添加缩略地图控件
    map.enableScrollWheelZoom();
//启用滚轮放大缩小
    map.addControl(new BMap.MapTypeControl());
//添加地图类型控件
    map.disable3DBuilding();
    map.centerAndZoom(point, 15);
    map.setMapStyle({ style: 'midnight' });

    function doSearch(value, name) {
        var local = new BMap.LocalSearch(map, { renderOptions: { map: map, panel: "r-result" } });
        local.search(value);
    }
    function doSearchFromDB(value, name) {
        var url = "";
        switch (name) {
            case RSH.Control.All:
                url = "/Home/GetAllUsersExceptNormal"; break;
            case RSH.Control.Designer:
                url = "/Home/GetAllDesigner"; break;
            case RSH.Control.DesignCompany:
                url = "/Home/GetAllDesignCompany"; break;
            case RSH.Control.Seller:
                url = "/Home/GetAllSeller"; break;
        }
        if (url == "") {
            doSearch(value, name);
            return;
        }
        $.post(url, null, function(data) {
            if (data) {
                if (data.length) {
                } else {
                    $.messager.show({
                        title: RSH.Common.AlertTitle,
                        msg: RSH.Search.SearchEmpty,
                        timeout: 3000,
                        showType: 'show'
                    });
                }
            }
        });
    }
    
    function doSearchWithPoint(value,name) {
        map.clearOverlays();
        var localSearch = new BMap.LocalSearch(map);
        localSearch.enableAutoViewport();
        localSearch.setSearchCompleteCallback(function (searchResult) {
            var poi = searchResult.getPoi(0);
            map.centerAndZoom(poi.point, 16);
            var marker = new BMap.Marker(new BMap.Point(poi.point.lng, poi.point.lat));  // 创建标注，为要查询的地址对应的经纬度
            map.addOverlay(marker);
        });
        localSearch.search(value);
    }
</script>
