@{
    ViewBag.Title = "首页";
}
<div class="easyui-layout" style="width: 100%; height: 800px;">
    <div data-options="region:'west'" style="width: 30%; padding: 10px; background-color: #ddffdd">
        <div style="margin-left: 10px; margin-bottom: 20px">
            <div style="margin-bottom: 10px">
                <input class="easyui-searchbox" data-options="prompt:'请输入...（默认搜索本市）',menu:'#mm',searcher:doSearchFromDB" style="width: 440px; height: 40px; background-color: salmon" />
                <div id="mm" style="background-color: aquamarine">
                    <div data-options="name:'All',iconCls:'icon-ok'"><b>全部</b></div>
                    <div data-options="name:'Designer',iconCls:'icon-green-point'"><b>设计师</b></div>
                    <div data-options="name:'DesignCompany',iconCls:'icon-red-point'"><b>家装公司</b></div>
                    <div data-options="name:'Seller',iconCls:'icon-yellow-point'"><b>商家</b></div>
                </div>
            </div>
            <div>
                <a href="#" class="easyui-menubutton" data-options="menu:'#mm1'" style="padding: 5px; width: 200px; background-color: lightsalmon">按距离查找（默认搜索本市） </a>
                <div id="mm1" style="width: 200px; background-color: aquamarine">
                    <div id="menuDesigner" data-options="name:'Designer',iconCls:'icon-green-point'"><b>设计师</b></div>
                    <div id="menuDesignCompany" data-options="name:'DesignCompany',iconCls:'icon-red-point'"><b>家装公司</b></div>
                    <div id="menuSeller" data-options="name:'Seller',iconCls:'icon-yellow-point'"><b>商家</b></div>
                </div>

                <a href="#" class="easyui-menubutton" data-options="menu:'#mm2'" style="padding: 5px; width: 220px; background-color: lightpink">按关注度查找（默认搜索本市） </a>
                <div id="mm2" style="width: 220px; background-color: aquamarine">
                    <div id="menuDesigner2" data-options="name:'Designer',iconCls:'icon-green-point'"><b>设计师</b></div>
                    <div id="menuDesignCompany2" data-options="name:'DesignCompany',iconCls:'icon-red-point'"><b>家装公司</b></div>
                    <div id="menuSeller2" data-options="name:'Seller',iconCls:'icon-yellow-point'"><b>商家</b></div>
                </div>
            </div>
        </div>
        <div id="alertDiv" class="alertPanel" style="padding: 5px; max-width: 470px"></div>
        <div id="r-result">
        </div>
    </div>
    <div data-options="region:'center'">
        <div style="margin: 5px">
            @*<select>
                <option id="setdark" >夜色阑珊</option>
                <option id="setblue" >蓝色妖姬</option>
            </select>*@
            <input id="currentPosition" class="easyui-textbox" prompt="设置指定位置..." iconwidth="28" style="width: 400px; height: 34px; padding: 5px;">
            <a id="btnSetPosition" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" style="height: 34px; width: 80px">确定 </a>
            <input type="checkbox" id="isUseThis" />是否使用指定位置
            <input type="button" id="openHeat" value="显示热力图" style="background-color: yellow" />
            <input type="button" id="closeHeat" value="关闭热力图" style="background-color: yellowgreen" />
        </div>
        <div id="allmap" style="height: 740px"></div>
    </div>
</div>

<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
<link href="~/Content/searchinfowindow.css" rel="stylesheet" />
@*<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />*@
<script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>
<script type="text/javascript">
    //map:地图对象，point：中心点对象
    var map;
    var point;
    var currentPosition;
    //当前位置
    var heatmapOverlay;
    $(function () {
        map = new BMap.Map("allmap");
        point = new BMap.Point(RSH.Common.NEFU_Longitude, RSH.Common.NEFU_Latitude);
        InitMap(map, point);

        //$("#setdark").bind('click', function () {
        //    setDarkStyle(map);
        //});
        //$("#setblue").bind('click', function () {
        //    setBlueStyle(map);
        //});
        //********************
        
        $('#openHeat').bind('click', function () {
            var points = HeatMap.Count;
            var markers = HeatMap.Marker;
            if (points instanceof Array && points.length > 0) {
                if (!isSupportCanvas()) {
                    alert('热力图目前只支持有canvas支持的浏览器,您所使用的浏览器不能使用热力图功能~');
                    return;
                }
                for (var marker in markers) {
                    markers[marker].hide();
                }
                heatmapOverlay = new BMapLib.HeatmapOverlay({ "radius": 20 });
                map.addOverlay(heatmapOverlay);
                heatmapOverlay.setDataSet({ data: points, max: 100 });
                heatmapOverlay.show();

                function setGradient() {
                    var gradient = {};
                    var colors = document.querySelectorAll("input[type='color']");
                    colors = [].slice.call(colors, 0);
                    colors.forEach(function (ele) {
                        gradient[ele.getAttribute("data-key")] = ele.value;
                    });
                    heatmapOverlay.setOptions({ "gradient": gradient });
                }
            } else {
                alert('热力点为空');
            }
        });

        $("#closeHeat").bind('click', function () {
            var markers = HeatMap.Marker;
            console.log(markers);
            for (var marker in markers) {
                markers[marker].show();
            }
            if (heatmapOverlay)
                heatmapOverlay.hide();
        });
        //*********************


        $("#btnSetPosition").bind('click', function () {
            $("#r-result").empty();
            map.clearOverlays();
            var address = $("#currentPosition").val();
            var localSearch = new BMap.LocalSearch(map);
            localSearch.enableAutoViewport();
            localSearch.setSearchCompleteCallback(function (searchResult) {
                if (searchResult != null) {
                    currentPosition = searchResult.getPoi(0);
                    console.log(searchResult);
                    console.log(currentPosition);
                    if (currentPosition) {
                        var mk = new BMap.Marker(currentPosition.point);
                        map.addOverlay(mk);
                        var infoWindow = new BMap.InfoWindow("<b>当前设定位置</b>");
                        mk.addEventListener("click", function () {
                            this.openInfoWindow(infoWindow);
                        });
                        map.centerAndZoom(currentPosition.point, 12);
                    } else {
                        $.messager.alert(RSH.Common.AlertTitle, RSH.Search.CurrentPositionFailed);
                        $("#currentPosition").textbox("setValue", "");
                    }
                }
            });
            localSearch.search(address);
        });

        //按距离查找
        $("#menuDesigner").bind('click', function () {
            var url = "/Home/GetDesignerByDistance";
            var isusethis = $("#isUseThis").prop('checked');
            if (isusethis) {
                if (currentPosition) {
                    doSearchFromDBByPosition(map, url, currentPosition);
                } else {
                    $.messager.alert(RSH.Common.AlertTitle, RSH.Search.CheckCurrentPosition);
                }
            } else {
                doSearchFromDBInSameCity(map, url);
            }
        });
        $("#menuDesignCompany").bind('click', function () {
            var url = "/Home/GetDesignCompanyByDistance";
            var isusethis = $("#isUseThis").prop('checked');
            if (isusethis) {
                if (currentPosition) {
                    doSearchFromDBByPosition(map, url, currentPosition);
                } else {
                    $.messager.alert(RSH.Common.AlertTitle, RSH.Search.CheckCurrentPosition);
                }
            } else {
                doSearchFromDBInSameCity(map, url);
            }
        });
        $("#menuSeller").bind('click', function () {
            var url = "/Home/GetSellerByDistance";
            var isusethis = $("#isUseThis").prop('checked');
            if (isusethis) {
                if (currentPosition) {
                    doSearchFromDBByPosition(map, url, currentPosition);
                } else {
                    $.messager.alert(RSH.Common.AlertTitle, RSH.Search.CheckCurrentPosition);
                }
            } else {
                doSearchFromDBInSameCity(map, url);
            }
        });

        //按关注度查找
        $("#menuDesigner2").bind('click', function () {
            var url = "/Home/GetDesignerByFansQuantity";
            var isusethis = $("#isUseThis").prop('checked');
            if (isusethis) {
                if (currentPosition) {
                    doSearchFromDBByPosition(map, url, currentPosition);
                } else {
                    $.messager.alert(RSH.Common.AlertTitle, RSH.Search.CheckCurrentPosition);
                }
            } else {
                doSearchFromDBInSameCity(map, url);
            }
        });
        $("#menuDesignCompany2").bind('click', function () {
            var url = "/Home/GetDesignCompanyByFansQuantity";
            var isusethis = $("#isUseThis").prop('checked');
            if (isusethis) {
                if (currentPosition) {
                    doSearchFromDBByPosition(map, url, currentPosition);
                } else {
                    $.messager.alert(RSH.Common.AlertTitle, RSH.Search.CheckCurrentPosition);
                }
            } else {
                doSearchFromDBInSameCity(map, url);
            }
        });
        $("#menuSeller2").bind('click', function () {
            var url = "/Home/GetSellerByFansQuantity";
            var isusethis = $("#isUseThis").prop('checked');
            if (isusethis) {
                if (currentPosition) {
                    doSearchFromDBByPosition(map, url, currentPosition);
                } else {
                    $.messager.alert(RSH.Common.AlertTitle, RSH.Search.CheckCurrentPosition);
                }
            } else {
                doSearchFromDBInSameCity(map, url);
            }
        });
    });

    //从数据读出数据并设置点

    function doSearchFromDB(value, name) {
        if (value) {
            var url = "";
            switch (name) {
                case RSH.Control.All:
                    url = "/Home/GetAllUsersExceptNormal";
                    break;
                case RSH.Control.Designer:
                    url = "/Home/GetAllDesigner";
                    break;
                case RSH.Control.DesignCompany:
                    url = "/Home/GetAllDesignCompany";
                    break;
                case RSH.Control.Seller:
                    url = "/Home/GetAllSeller";
                    break;
            }
            if (url == "") {
                doSearch(value, name);
                return;
            }
            var isusethis = $("#isUseThis").prop('checked');
            if (isusethis) {
                if (currentPosition) {
                    doSearchFromDBByPosition(map, url, currentPosition, value);
                } else {
                    $.messager.alert(RSH.Common.AlertTitle, RSH.Search.CheckCurrentPosition);
                }
            } else {
                doSearchFromDBInSameCity(map, url, value);
            }
        } else {
            $.messager.show({
                title: RSH.Common.AlertTitle,
                msg: RSH.Search.EmptyValue,
                timeout: 3000,
                showType: 'show'
            });
        }
    }

</script>
