@{
    ViewBag.Title = "首页";
}
<div class="easyui-layout" style="width: 100%; height: 800px;">
    <div data-options="region:'north'" style="height: 70px; background-color: oldlace">
        <div style="margin: 10px 100px">
            <input class="easyui-searchbox" data-options="prompt:'请输入...（默认搜索本市）',menu:'#mm',searcher:doSearchFromDB" style="width: 400px; height: 40px; background-color: salmon" />
            <div id="mm" style="background-color: thistle">
                <div data-options="name:'All',iconCls:'icon-ok'"><b>全部</b></div>
                <div data-options="name:'Designer',iconCls:'icon-green-point'"><b>设计师</b></div>
                <div data-options="name:'DesignCompany',iconCls:'icon-red-point'"><b>家装公司</b></div>
                <div data-options="name:'Seller',iconCls:'icon-yellow-point'"><b>商家</b></div>
            </div>
            <a href="#" class="easyui-menubutton" data-options="menu:'#mm1'" style="padding: 5px; margin-left: 10px; width: 200px; background-color: lightsalmon">按距离查找（默认搜索本市） </a>
            <div id="mm1" style="width: 200px; background-color: thistle">
                <div id="menuDesigner" data-options="name:'Designer',iconCls:'icon-green-point'"><b>设计师</b></div>
                <div id="menuDesignCompany" data-options="name:'DesignCompany',iconCls:'icon-red-point'"><b>家装公司</b></div>
                <div id="menuSeller" data-options="name:'Seller',iconCls:'icon-yellow-point'"><b>商家</b></div>
            </div>

            <a href="#" class="easyui-menubutton" data-options="menu:'#mm2'" style="padding: 5px; margin-left: 10px; width: 220px; background-color: lightpink">按关注度查找（默认搜索本市） </a>
            <div id="mm2" style="width: 220px; background-color: thistle">
                <div id="menuDesigner2" data-options="name:'Designer',iconCls:'icon-green-point'"><b>设计师</b></div>
                <div id="menuDesignCompany2" data-options="name:'DesignCompany',iconCls:'icon-red-point'"><b>家装公司</b></div>
                <div id="menuSeller2" data-options="name:'Seller',iconCls:'icon-yellow-point'"><b>商家</b></div>
            </div>
            <div id="alertDiv" class="alertPanel" style="padding: 5px;"></div>
        </div>
    </div>
    <div data-options="region:'west'" title="这边是左" style="width: 30%; padding: 10px">
        <div id="r-result"></div>
    </div>
    <div data-options="region:'center'" title="这边是右">
        <div id="allmap"></div>
    </div>
</div>

<script type="text/javascript">
    //map:地图对象，point：中心点对象
    var map;
    var point;
    $(function () {
        map = new BMap.Map("allmap");
        point = new BMap.Point(RSH.Common.NEFU_Longitude, RSH.Common.NEFU_Latitude);
        InitMap(map, point);

        //按距离查找
        $("#menuDesigner").bind('click', function () {
            var url = "/Home/GetDesignerByDistance";
            doSearchFromDBInSameCity(map, url);
        });
        $("#menuDesignCompany").bind('click', function () {
            var url = "/Home/GetDesignCompanyByDistance";
            doSearchFromDBInSameCity(map, url);
        });
        $("#menuSeller").bind('click', function () {
            var url = "/Home/GetSellerByDistance";
            doSearchFromDBInSameCity(map, url);
        });

        //按关注度查找
        $("#menuDesigner2").bind('click', function () {
            var url = "/Home/GetDesignerByFansQuantity";
            doSearchFromDBInSameCity(map, url);
        });
        $("#menuDesignCompany2").bind('click', function () {
            var url = "/Home/GetDesignCompanyByFansQuantity";
            doSearchFromDBInSameCity(map, url);
        });
        $("#menuSeller2").bind('click', function () {
            var url = "/Home/GetSellerByFansQuantity";
            doSearchFromDBInSameCity(map, url);
        });
    });

    //从数据读出数据并设置点
    function doSearchFromDB(value, name) {
        if (value) {
            var url = "";
            switch (name) {
                case RSH.Control.All:
                    url = "/Home/GetAllUsersExceptNormal";
                    break;
                case RSH.Control.Designer:
                    url = "/Home/GetAllDesigner";
                    break;
                case RSH.Control.DesignCompany:
                    url = "/Home/GetAllDesignCompany";
                    break;
                case RSH.Control.Seller:
                    url = "/Home/GetAllSeller";
                    break;
            }
            if (url == "") {
                doSearch(value, name);
                return;
            }
            doSearchFromDBInSameCity(map, url, value);
        } else {
            $.messager.show({
                title: RSH.Common.AlertTitle,
                msg: RSH.Search.EmptyValue,
                timeout: 3000,
                showType: 'show'
            });
        }
    }
</script>
