@{
    ViewBag.Title = "基本信息";
}
<div class="easyui-panel" title="基本信息" style="width: 100%; max-width: 400px; padding: 30px 60px;">
<div style="margin-bottom: 20px">
    <label for="phone" class="label-top">电话:</label>
    <input id="phone" class="easyui-validatebox tb" data-options="required:true">
</div>
<div style="margin-bottom: 20px">
    <select class="easyui-combobox tb" id="sex" label="性别:" labelposition="top" style="width: 100%;" panelheight="90">
        <option value="男">男</option>
        <option value="女">女</option>
    </select>
</div>
<div style="margin-bottom: 20px">
    <label for="address" class="label-top">地址:</label>
    <input id="address" class="easyui-textbox tb" data-options="required:true,multiline:true" style="width: 300px; height: 100px">
</div>
<div style="margin-bottom: 20px">
    <label for="designconcept" class="label-top">设计理念:</label>
    <input id="designconcept" class="easyui-textbox tb" data-options="required:true,multiline:true" style="width: 300px; height: 100px">
</div>
<div style="margin-bottom: 20px">
    <label for="startworktime" class="label-top">开始工作时间:</label>
    <input id="startworktime" class="easyui-datebox" data-options="required:true">
</div>
<div style="padding: 5px 0;">
    <a id="btnSubmit" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-man'" style="width: 80px">提交 </a>
</div>
</div>
<script>
    $(function () {
        $("#btnSubmit").bind('click', function () {
                var parameter = {
                    "Phone": $("#phone").val(),
                    "Sex": $("#sex").combobox('getValue'),
                    "Address": $("#address").val(),
                    "DesignConcept": $("#designconcept").val(),
                    "StartWorkTime": $("#startworktime").datebox('getValue'),
                };
                $.post("/User/SetNormalUserInfo", parameter, function (data) {
                    if (!data) {
                        $.messager.alert(RSH.Common.AlertTitle, RSH.SetInfo.SetFail);
                    } else {
                        window.location.href = "/Home/Index";
                    }
                });
        });
    })
</script>
