@{
    ViewBag.Title = "我";
}

<div class="easyui-layout" style="width: 100%; height: 800px;">
    <div data-options="region:'north'" style="height: 100px; background-color: oldlace">
        <div style="padding: 5px 50px 5px 50px;">
            <a id="btnGetDemands" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-man'" style="width: 80px; height: 80px;margin: 0 50px; background-color: yellowgreen">需求检索</a>

            <div id="alertDiv" class="alertPanel" style="margin-top: 20px"></div>
        </div>
    </div>
    <div data-options="region:'west'" title="这边是左" style="width: 30%; padding: 10px">
        <div id="r-result"></div>
    </div>
    <div data-options="region:'center'" title="这边是右">
        <div id="allmap"></div>
    </div>
</div>
<script type="text/javascript">
    var map;
    var point;
    var currentPoint;
    $(function () {
        map = new BMap.Map("allmap");
        point = new BMap.Point(RSH.Common.NEFU_Longitude, RSH.Common.NEFU_Latitude);
        InitMap(map, point);

        $("#btnGetDemands").bind('click', function () {
            var url = "/Demand/GetAllDemandsInSameCity";
            doSearchFromDBInSameCity(map, url);
        });
    });
</script>
