.tb {
    width: 100%;
    margin: 0;
    padding: 5px 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#smallmap{height:300px;width:300px;}
#allmap{height:500px;width:100%;}
.searchPanelItem{ border: 2px;border-style: solid;background-color: #e6e6fa}
