.tb {
    width: 100%;
    margin: 0;
    padding: 5px 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#smallmap{height:300px;width:400px;}
#allmap{height:100%;width:100%;}
.searchPanelItem{ border: 2px;border-style: solid;background-color: lightcyan;width: 100%;}


/*点图标*/
.icon-red-point {
    background: url('/Content/images/bullet-red.png') no-repeat center center;
}
.icon-green-point {
    background: url('/Content/images/bullet-green.png') no-repeat center center;
}
.icon-yellow-point {
    background: url('/Content/images/bullet-yellow.png') no-repeat center center;
}

.alertPanel {
    background-color: lightskyblue;
    font-size: 20px;
    height: 40px;
    width: 100%;
    display:none;
    text-align: center
}